<footer class="footer">
    <div class="footer__content _container">
        <div class="footer__contacts footer-contacts">
            <h3 class="footer-contacts__title">Вопросы и предложения</h3>
            <a href="mailto:email@shelter.com" class="footer-contacts__text footer-contacts__text_email _icon-email">email@shelter.com</a>
            <a href="tel:+79533269886" class="footer-contacts__text footer-contacts__text_tel _icon-phone">+7 953 326 98 86</a>
        </div>
        <div class="footer__contacts footer-contacts">
            <h3 class="footer-contacts__title">Мы расположены по адресу </h3>
            <div class="footer-contacts__text footer-contacts__text_location _icon-spot">Приют находится в г. Калуга</div>
            <div class="footer__social">
                <a href="https://vk.com/vdomkota" target="_blank" class="footer__vk _icon-vk"></a>
                <a href="https://www.instagram.com/v_dom_kota/" target="_blank" class="footer__instagram _icon-instagram"></a>
            </div>
        </div>
        <div class="footer__image _ibg">
            <picture>
                <source srcset="/footer/cat.webp" type="image/webp">
                <img src="/footer/cat.jpeg" alt="Картинка футера">
            </picture>
        </div>
    </div>
    <div class="footer__copy">Разработан <a href="mailto:kivals.90@yandex.ru">kivals.90@yandex.ru</a></div>
</footer>
