<header class="header">
    <div class="header__content _container">
        <div class="header__body">
            <a href="/" class="header__logo _ibg">
                <img src="/logo.webp" alt="Логотип приюта ВДОМКОТА">
            </a>
            <div class="header__menu menu">
                <nav class="menu__body">
                    <ul class="menu__list">
                        <li><a href="/" class="menu__link">Главная</a></li>
                        <li><a href="/find" class="menu__link">Ищем хозяев</a></li>
                        <li><a href="/#donation" class="menu__link">Реквизиты</a></li>
                        <li><a href="/#aboutus" class="menu__link">О приюте</a></li>
                    </ul>
                </nav>
            </div>
            <div data-da=".menu__body,767.98" class="header__social social-header">
                <a href="https://vk.com/vdomkota" class="social-header__link _icon-vk" target="_blank" rel="noopener"></a>
                <a href="https://www.instagram.com/v_dom_kota" class="social-header__link _icon-instagram" target="_blank" rel="noopener"></a>
            </div>
            <div class="menu__icon icon-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
