@charset "UTF-8";

@font-face {
  font-family: "FF_DIN_Round_Pro";
  font-display: swap;
  src: url("../fonts/FF_DIN_Round_Pro_-_Bold.woff") format("woff"), url("../fonts/FF_DIN_Round_Pro_-_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FF_DIN_Round_Pro";
  font-display: swap;
  src: url("../fonts/FF_DIN_Round_Pro_-_Medium.woff") format("woff"), url("../fonts/FF_DIN_Round_Pro_-_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FF_DIN_Round_Pro";
  font-display: swap;
  src: url("../fonts/FF_DIN_Round_Pro_-_Regular.woff") format("woff"), url("../fonts/FF_DIN_Round_Pro_-_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-phone:before {
  content: "\e901";
}

._icon-spot:before {
  content: "\e902";
}

._icon-vk:before {
  content: "\e903";
}

._icon-instagram:before {
  content: "\e904";
}

._icon-email:before {
  content: "\e905";
}

._icon-card:before {
  content: "\e906";
}

._icon-arrow-short:before {
  content: "\e907";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "FF_DIN_Round_Pro";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "FF_DIN_Round_Pro";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 16px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  font-weight: 500;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 25px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  min-height: 48px;
  border-radius: 20px;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20px;
  flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

._slide-ibg {
  position: relative;
}

._slide-ibg img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.cat-slider__dots.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cat-slider__dots > .swiper-pagination-bullet {
  display: block;
  cursor: pointer;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 11px;
  flex: 0 0 11px;
  height: 11px;
  background-color: #818181;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  margin: 2px 0px;
}

.cat-slider__dots > .swiper-pagination-bullet:not(:last-child) {
  margin-right: 12px;
}

.cat-slider__dots > .swiper-pagination-bullet-active {
  background-color: #f38bae;
}

._title {
  font-size: 35px;
  color: #545454;
  line-height: 135%;
  margin-bottom: 1em;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("/icons/close.svg") 0 0 no-repeat;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 30px;
}

.header__menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu__link {
  display: block;
  position: relative;
}

.menu__link ._active {
  color: #f38bae;
}

.social-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-header__link {
  color: inherit;
  font-size: 35px;
  padding: 0 10px;
  -webkit-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}

.icon-menu {
  display: none;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.footer {
  padding-top: 80px;
  background-color: #000;
  position: relative;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contacts {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 33.333%;
  flex: 1 1 33.333%;
}

.footer__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 34%;
  flex: 0 1 34%;
  padding-bottom: 20%;
}

.footer__social a {
  font-size: 28px;
  display: inline-block;
  color: #f1cdb3;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__social a:not(:last-child) {
  margin-right: 1em;
}

.footer__copy {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #8c94a7;
  padding: 10px 0;
  text-align: center;
  font-style: italic;
  opacity: 0.7;
}

.footer__copy a {
  color: inherit;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-contacts {
  padding-bottom: 40px;
  padding: 0 10px;
}

.footer-contacts__title {
  font-size: 30px;
  color: #FFF;
  line-height: 130%;
  letter-spacing: 0.04em;
  margin-bottom: 0.7em;
}

.footer-contacts__text {
  font-size: 20px;
  color: #f1cdb3;
  margin-bottom: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-contacts__text::before {
  margin-right: 7px;
}

.footer-contacts__text_email::before {
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
}

.intro__title {
  line-height: 120%;
  text-align: center;
  color: #fff;
  font-size: 70px;
  margin-bottom: 1em;
}

.intro__title span {
  color: #f38bae;
  font-weight: 600;
}

.intro__button {
  color: #FFF;
  background-color: #f38bae;
}

.intro__video {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  padding-bottom: 40%;
}

.intro__overlay {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.intro__video-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.cat-slider {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f6f6f6;
}

.cat-slider__container {
  position: relative;
}

.cat-slider__body {
  padding: 15px;
}

.cat-slider__dots {
  margin-top: 1.5em;
}

.slide-cat {
  cursor: pointer;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 18px rgba(97, 97, 97, 0.2);
  box-shadow: 0 0 18px rgba(97, 97, 97, 0.2);
}

.slide-cat__body {
  padding: 10px 10px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide-cat__image {
  padding-bottom: 80%;
  width: 100%;
  margin-bottom: 2em;
}

.slide-cat__name {
  font-size: 20px;
  color: #545454;
  margin-bottom: 1.2em;
}

.slide-cat__button {
  color: #000;
  font-weight: 400;
  border: 2px solid #f38bae;
}

.slider-arrows {
  display: none;
}

.donation {
  padding-top: 80px;
  padding-bottom: 80px;
}

.donation__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.donation__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 450px;
  flex: 0 1 450px;
  padding-bottom: 25%;
}

.donation__image img {
  border-radius: 10%;
}

.donation__content {
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.donation__bank-info {
  font-size: 15px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-bottom: 1em;
}

.donation__card {
  font-size: 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f38bae;
  padding: 17px 15px 17px 15px;
  border-radius: 9px;
  letter-spacing: 0.06em;
  color: #292929;
  margin-bottom: 1em;
}

.donation__card::before {
  margin-right: 15px;
}

.donation__additional {
  font-size: 12px;
  line-height: 140%;
  font-style: italic;
  color: #b2b2b2;
}

.help {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f6f6f6;
}

.help__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.help__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.help__item {
  cursor: pointer;
  padding: 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 282px;
  flex: 0 1 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 3em;
}

.help__name {
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.help__image {
  max-height: 50px;
  max-width: 50px;
  margin-bottom: 1em;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.aboutus {
  padding-top: 80px;
  padding-bottom: 80px;
}

.aboutus__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  border-radius: 50%;
  overflow: hidden;
  padding-bottom: 30%;
  margin-right: 30px;
}

.aboutus__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.aboutus__text {
  line-height: 150%;
  color: #4c4c4c;
}

._no-webp .cats-count{
  background: url("/cats-count/back.jpg") no-repeat center center; }

.cats-count {
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
  background-size: cover;
}

.cats-count__overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cats-count__body {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cats-count__title {
  color: white;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.5em;
}

.cats-count__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.item-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 35px;
}

.item-count__pic {
  margin-bottom: 1em;
}

.item-count__pic img {
  height: 100px;
  width: 100px;
}

.item-count__digit {
  font-size: 45px;
  color: #FFF;
  margin-bottom: 0.7em;
  font-weight: 700;
}

.item-count__description {
  color: #FFF;
  font-size: 24px;
}

.find {
  padding-top: 60px;
  padding-bottom: 60px;
}

.find__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.find__title {
  text-align: center;
}

.find__cat {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 280px;
  flex: 0 0 280px;
}

.cat-item {
  padding: 15px;
}

.cat-item__body {
  -webkit-box-shadow: 0 0 18px rgba(97, 97, 97, 0.2);
  box-shadow: 0 0 18px rgba(97, 97, 97, 0.2);
  padding-bottom: 15px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cat-item__image {
  padding-bottom: 80%;
  margin-bottom: 1.5em;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.cat-item__name {
  text-align: center;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.06em;
  color: #545454;
}

.cat-item__button {
  color: #f38bae;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider-cats {
  position: relative;
}

.slider-cats__slide {
  padding-bottom: 60%;
  background: #b3b3b3;
}

.slider-cats__dots {
  position: absolute;
  z-index: 1;
  bottom: 5%;
}

.slider-cats__dots.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider-cats .slider-cats__dots > .swiper-pagination-bullet {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  background-clip: padding-box;
  display: block;
  cursor: pointer;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 25px;
  flex: 0 1 25px;
  height: 4px;
  background-color: #818181;
  border-radius: 10px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.slider-cats .slider-cats__dots > .swiper-pagination-bullet-active {
  background-color: red;
}

.slider-cats-arrows {
  bottom: 0;
  right: 0;
  top: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider-cats-arrows__item {
  color: #000000;
  font-size: 25px;
  height: 100%;
  width: 10%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider-cats-arrows__item_prev {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.cat-description {
  padding-top: 35px;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cat-description__list {
  margin-bottom: 1.5em;
}

.cat-description__list li:not(:last-child) {
  margin-bottom: 1em;
}

.cat-description__list li span {
  font-size: 17px;
  font-weight: 500;
}

.cat-description__text {
  line-height: 160%;
  margin-bottom: 1.5em;
}

.cat-description__caution {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 2.5em;
}

.cat-description__button {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  color: #000;
  background-color: #FFF;
  border: 2px solid #f38bae;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.page__find {
  background-color: #f6f6f6;
}

@media (min-width: 767.98px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .menu__list li:not(:last-child) {
    margin-right: 30px;
  }

  .menu__link {
    color: inherit;
    padding-bottom: 5px;
    -webkit-transition: color 0.2s ease 0s;
    -o-transition: color 0.2s ease 0s;
    transition: color 0.2s ease 0s;
  }

  .menu__link._active {
    color: #f38bae;
  }

  .menu__link._active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background: #f38bae;
    width: 25px;
    height: 2px;
  }

  .social-header__link:hover {
    color: #f38bae;
  }

  .aboutus__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width: 767.98px) and (any-hover: hover) {
  .menu__link:hover {
    color: #f38bae;
  }
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1182px) {
  .slider-arrows {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .slider-arrows__item {
    color: #000;
    font-size: 30px;
    border: 2px solid #f38bae;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .slider-arrows__item_prev {
    margin-left: -5%;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }

  .slider-arrows__item_next {
    margin-right: -5%;
  }
}

@media (min-width: 1182px) and (any-hover: hover) {
  .slider-arrows__item:hover {
    background-color: #f38bae;
    color: #fff;
  }
}

@media (max-width: 1170px) {
  body {
    font-size: calc(13px + 3 * ((100vw - 320px) / 850));
  }

  ._title {
    font-size: calc(24px + 11 * ((100vw - 320px) / 850));
  }

  .footer {
    padding-top: calc(40px + 40 * ((100vw - 320px) / 850));
  }

  .footer__social a {
    font-size: calc(18px + 10 * ((100vw - 320px) / 850));
  }

  .footer__copy {
    font-size: calc(10px + 2 * ((100vw - 320px) / 850));
  }

  .footer-contacts {
    padding-bottom: calc(25px + 15 * ((100vw - 320px) / 850));
  }

  .footer-contacts__title {
    font-size: calc(16px + 14 * ((100vw - 320px) / 850));
  }

  .footer-contacts__text {
    font-size: calc(12px + 8 * ((100vw - 320px) / 850));
  }

  .intro__title {
    font-size: calc(35px + 35 * ((100vw - 320px) / 850));
  }

  .cat-slider {
    padding-top: calc(40px + 40 * ((100vw - 320px) / 850));
  }

  .cat-slider {
    padding-bottom: calc(40px + 40 * ((100vw - 320px) / 850));
  }

  .slide-cat__name {
    font-size: calc(17px + 3 * ((100vw - 320px) / 850));
  }

  .donation {
    padding-top: calc(40px + 40 * ((100vw - 320px) / 850));
  }

  .donation {
    padding-bottom: calc(40px + 40 * ((100vw - 320px) / 850));
  }

  .donation__card {
    font-size: calc(16px + 8 * ((100vw - 320px) / 850));
  }

  .help {
    padding-top: calc(40px + 40 * ((100vw - 320px) / 850));
  }

  .help {
    padding-bottom: calc(40px + 40 * ((100vw - 320px) / 850));
  }

  .help__name {
    font-size: calc(14px + 6 * ((100vw - 320px) / 850));
  }

  .aboutus {
    padding-top: calc(40px + 40 * ((100vw - 320px) / 850));
  }

  .aboutus {
    padding-bottom: calc(40px + 40 * ((100vw - 320px) / 850));
  }

  .cats-count {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 850));
  }

  .cats-count {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / 850));
  }

  .item-count__digit {
    font-size: calc(24px + 21 * ((100vw - 320px) / 850));
  }

  .item-count__description {
    font-size: calc(12px + 12 * ((100vw - 320px) / 850));
  }

  .find {
    padding-top: calc(20px + 40 * ((100vw - 320px) / 850));
  }

  .find {
    padding-bottom: calc(20px + 40 * ((100vw - 320px) / 850));
  }

  .cat-item__name {
    font-size: calc(17px + 3 * ((100vw - 320px) / 850));
  }

  .cat-description {
    padding-top: calc(20px + 15 * ((100vw - 320px) / 850));
  }

  .cat-description {
    padding-bottom: calc(20px + 15 * ((100vw - 320px) / 850));
  }

  .cat-description__list li span {
    font-size: calc(14px + 3 * ((100vw - 320px) / 850));
  }

  .cat-description__caution {
    font-size: calc(10px + 3 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  .btn {
    min-height: 38px;
    padding: 0 15px;
  }

  .menu__body {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 70px 15px 30px 25px;
    background-color: #f38bae;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__list {
    margin-bottom: 30px;
  }

  .menu__link {
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
  }

  .icon-menu {
    position: relative;
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer__image {
    display: none;
  }

  ._no-webp .intro__video{
    background: url("/intro/intro-static.jpeg") center center/cover no-repeat; }

  .intro__video {
    z-index: -100;
    padding-bottom: 70%;
  }

  .cat-slider__body {
    padding: 10px 30px;
  }

  .donation__image {
    display: none;
  }

  .donation__content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
  }

  .help__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 180px;
    flex: 0 1 180px;
    margin-bottom: 1em;
  }

  .help__image {
    max-height: 35px;
    max-width: 35px;
  }

  .aboutus__image {
    width: 30%;
    height: 30%;
    margin: 0 auto 20px auto;
  }

  .aboutus__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .aboutus__text {
    text-align: center;
  }

  .item-count {
    padding: 15px;
  }

  .item-count__pic {
    padding: 10px;
  }

  .item-count__pic img {
    height: 70px;
    width: 70px;
  }
}

@media (max-width: 767px) {
  .intro__video-item {
    display: none;
  }
}

@media (any-hover: hover) {
  .footer__social a:hover {
    color: #f38bae;
  }

  .footer__copy a:hover {
    color: #f38bae;
    font-weight: 600;
    opacity: 1;
  }

  .intro__button:hover {
    color: #f38bae;
    background-color: #FFF;
  }

  .slide-cat:hover .slide-cat__button {
    background-color: #f38bae;
    color: #FFF;
  }

  .cat-item:hover .cat-item__overlay {
    opacity: 1;
    visibility: visible;
  }

  .cat-item__button:hover {
    color: #fff;
    background-color: #f38bae;
  }

  .cat-item__overlay {
    visibility: hidden;
    opacity: 0;
    background-color: rgba(58, 58, 58, 0.74);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .slider-cats-arrows__item:hover {
    background-color: rgba(243, 139, 174, 0.4);
    color: #fff;
  }

  .cat-description__button:hover {
    color: #FFF;
    background-color: #f38bae;
  }
}

@media (any-hover: none) {
  .cat-item__overlay {
    padding: 15px 0px 0px 0px;
  }
}

._webp .cats-count{ background: url(/cats-count/back.webp) no-repeat center center; }

@media (max-width: 767.98px){

  ._webp .intro__video{ background: url(/intro/intro-static.webp) center center/cover no-repeat; }
}
