<section id="aboutus" class="aboutus">
    <div class="aboutus__container _container">
        <div class="aboutus__image _ibg">
            <picture>
                <source srcset="/aboutus/cat-about.webp" type="image/webp">
                <img src="/aboutus/cat-about.jpg" alt="О приюте">
            </picture>
        </div>
        <div class="aboutus__content">
            <h2 class="aboutus__title _title">О приюте "В Дом Кота"</h2>
            <div class="aboutus__text">
                В ДОМ КОТА - частный мини-приют для бездомных кошек в г.Калуга. Почему мы называемся "В ДОМ КОТА"? Потому что наша основная задача - находить новый дом бездомным котикам, людей, которые хотят помочь, спасти и приобрести друга, а значит взять В ДОМ КОТА!
                <br><br>
                Приют существует только на пожертвования неравнодушных людей! Приюту постоянно требуется помощь в покупке сухого и влажного кормов, наполнителя, лекарств, средств от блох и глистов, финансов на оплату стерилизации и кастрации, анализов и прививок, а также лечения тяжелобольным животным. Помощь всегда актуальна!
            </div>
        </div>
    </div>
</section>
