<section id="aboutus" class="aboutus">
    <div class="aboutus__container _container">
        <div class="aboutus__image _ibg">
            <img src="/aboutus/cat-about.webp" alt='О нас'>
        </div>
        <div class="aboutus__content">
            <h2 class="aboutus__title _title">О приюте "В Дом Кота"</h2>
            <div class="aboutus__text">В ДОМ КОТА - частный мини-приют для бездомных кошек. Почему мы называемся "В ДОМ КОТА"? Потому что основная наша задача - находить новый дом бездомным котикам, людей, которые хотят помочь, спасти и приобрести друга, а значит взять В ДОМ КОТА! Приют существует только на пожертвования неравнодушных людей! Помощь всегда актуальна! </div>
        </div>
    </div>
</section>
