<section class="cat-slider">
    <div class="cat-slider__container _container">
        <div class="cat-slider__body _swiper">
            <% for(var cat of cats) { %>
                <article class="cat-slider__slide slide-cat">
                    <div class="slide-cat__body">
                        <div class="slide-cat__image _ibg">
                            <img src="<%= cat.photoPath %>" alt="Котик <%= cat.name %>">
                        </div>
                        <div class="slide-cat__name"><%= cat.name %></div>
                        <a href="#" class="slide-cat__button btn">подробнее</a>
                    </div>
                </article>
            <% }%>
        </div>
        <div class="cat-slider__arrows slider-arrows">
            <button type="button" class="slider-arrows__item slider-arrows__item_prev _icon-arrow"></button>
            <button type="button" class="slider-arrows__item slider-arrows__item_next _icon-arrow"></button>
        </div>
        <div class="cat-slider__dots"></div>
    </div>
</section>
