<section class="cat-slider">
    <div class="cat-slider__container _container">
        <div class="cat-slider__body _swiper">
            <article class="cat-slider__slide slide-cat">
                <div class="slide-cat__body">
                    <div class="slide-cat__image _ibg">
                        <img src="/cats/Leo/leo-1.webp" alt="Лео">
                    </div>
                    <div class="slide-cat__name">Лео</div>
                    <a href="#" class="slide-cat__button btn">подробнее</a>
                </div>
            </article>
            <article class="cat-slider__slide slide-cat">
                <div class="slide-cat__body">
                    <div class="slide-cat__image _ibg">
                        <img src="/cats/Marpha/marpha-1.webp" alt="Марфа">
                    </div>
                    <div class="slide-cat__name">Марфа</div>
                    <a href="#" class="slide-cat__button btn">подробнее</a>
                </div>
            </article>
            <article class="cat-slider__slide slide-cat">
                <div class="slide-cat__body">
                    <div class="slide-cat__image _ibg">
                        <img src="/cats/Lapka/lapka-1.webp" alt="Лапка">
                    </div>
                    <div class="slide-cat__name">Лапка</div>
                    <a href="#" class="slide-cat__button btn">подробнее</a>
                </div>
            </article>
            <article class="cat-slider__slide slide-cat">
                <div class="slide-cat__body">
                    <div class="slide-cat__image _ibg">
                        <img src="/cats/Pirat/pirat-1.webp" alt="Пират">
                    </div>
                    <div class="slide-cat__name">Пират</div>
                    <a href="#" class="slide-cat__button btn">подробнее</a>
                </div>
            </article>
            <article class="cat-slider__slide slide-cat">
                <div class="slide-cat__body">
                    <div class="slide-cat__image _ibg">
                        <img src="/cats/Mia/mia-1.webp" alt="Мия">
                    </div>
                    <div class="slide-cat__name">Мия</div>
                    <a href="#" class="slide-cat__button btn">подробнее</a>
                </div>
            </article>
            <article class="cat-slider__slide slide-cat">
                <div class="slide-cat__body">
                    <div class="slide-cat__image _ibg">
                        <img src="/cats/Phinik/phinik-1.webp" alt="Финик">
                    </div>
                    <div class="slide-cat__name">Финик</div>
                    <a href="#" class="slide-cat__button btn">подробнее</a>
                </div>
            </article>
        </div>
        <div class="cat-slider__arrows slider-arrows">
            <button type="button" class="slider-arrows__item slider-arrows__item_prev _icon-arrow"></button>
            <button type="button" class="slider-arrows__item slider-arrows__item_next _icon-arrow"></button>
        </div>
        <div class="cat-slider__dots"></div>
    </div>
</section>
