<section class="cats-count">
    <div class="cats-count__overlay"></div>
    <div class="cats-count__container _container">
        <div class="cats-count__body">
            <div class="cats-count__title _title">Приют "В Дом Кота" в цифрах</div>
            <div class="cats-count__content">
                <div class="cats-count__item item-count">
                    <div class="item-count__pic">
                        <img src="/cats-count/cat3.png" alt="">
                    </div>
                    <div class="item-count__digit">15</div>
                    <div class="item-count__description">Котиков дома</div>
                </div>
                <div class="cats-count__item item-count">
                    <div class="item-count__pic">
                        <img src="/cats-count/cat2.png" alt="">
                    </div>
                    <div class="item-count__digit">25</div>
                    <div class="item-count__description">Ждут хозяев</div>
                </div>
            </div>
        </div>
    </div>
</section>