<section id="donation" class="donation">
    <div class="donation__container _container">
        <div class="donation__body">
            <div class="donation__image _slide-ibg">
                <picture>
                    <source srcset="/donation/donation.webp" type="image/webp">
                    <img src="/donation/donation.jpg" alt="Пожертвования приюту">
                </picture>
            </div>
            <div class="donation__content">
                <h2 class="donation__title _title">Реквизиты для помощи</h2>
                <div class="donation__bank-info">Сбербанк / Елена Юрьевна М.</div>
                <a href="#" class="donation__card _icon-card">4817 7603 2993 4081</a>
                <div class="donation__bank-info">АльфаБанк / Елена Юрьевна М.</div>
                <a href="#" class="donation__card _icon-card">5559 4941 1982 5049</a>
                <div class="donation__additional">Яндекс Кошелек: <span>41001825208986</span></div>
                <div class="donation__additional">PayPal: <span>helenmih@mail.ru</span></div>
            </div>
        </div>
    </div>
</section>
