<section id="donation" class="donation">
    <div class="donation__container _container">
        <div class="donation__body">
            <div class="donation__image _ibg">
                <img src="/donation/donation.webp" alt="donation">
            </div>
            <div class="donation__content">
                <h2 class="donation__title _title">Реквизиты для помощи</h2>
                <div class="donation__bank-info">Сбербанк / Расчетный</div>
                <a href="#" class="donation__card _icon-card">4817 7601 8652 8737</a>
                <div class="donation__additional">Яндекс Кошелек: 41001825208986</div>
            </div>
        </div>
    </div>
</section>
