<section class="help">
    <div class="help__container _container">
        <h2 class="help__title _title">Как помочь приюту</h2>
        <div class="help__content">
            <div class="help__item">
                <img src="/help/food.webp" alt="Корм для кошек" class="help__image">
                <div class="help__name">Корм</div>
            </div>
            <div class="help__item">
                <img src="/help/transport.webp" alt="Транспорт для кошек" class="help__image">
                <div class="help__name">Транспорт</div>
            </div>
            <div class="help__item">
                <img src="/help/ball.webp" alt="Игрушки и лежанки" class="help__image">
                <div class="help__name">Игрушки и лежанки</div>
            </div>
            <div class="help__item">
                <img src="/help/shampoo.webp" alt="Средства гигиены и уборки" class="help__image">
                <div class="help__name">Средства гигиены и уборки</div>
            </div>
            <div class="help__item">
                <img src="/help/pills.webp" alt="Витамины и лекарства" class="help__image">
                <div class="help__name">Витамины и лекарства</div>
            </div>
            <div class="help__item">
                <img src="/help/medicine.webp" alt="Средства от паразитов" class="help__image">
                <div class="help__name">Средства от паразитов</div>
            </div>
            <div class="help__item">
                <img src="/help/cat.webp" alt="Наполнитель" class="help__image">
                <div class="help__name">Наполнитель</div>
            </div>
            <div class="help__item">
                <img src="/help/collars.webp" alt="Лотки и миски" class="help__image">
                <div class="help__name">Лотки и миски</div>
            </div>
        </div>
    </div>
</section>
