<!DOCTYPE html>
<html lang="ru">
<%- include('./layout/head', {title: title}) %>
<body>
<div class="wrapper">
    <%- include('./layout/header') %>
        <main class="page page__find">

        </main>
    <%- include('./layout/footer', {title: title}) %>
</div>
<%- include('./layout/scripts') %>
</body>
</html>
