.deliver {
    height: 1px;
    position: relative;
    width: 100%;
    background-color: rgb(38, 52, 87);
    margin: 1.5rem 0;
}

.zoom-in {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.043137254901960784);
        transform: scale(1.04);
    }
}


